@import 'pkg:@fluentui/react/dist/sass/References.scss';

.consumer {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.productTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0.5em;

  th, td {
    text-align: left;
    padding: 0.5em;
    border-bottom: 1px solid "[theme:neutralLight, default:#edebe9]";
    border-bottom: 1px solid var(--neutralLight);
  }

  th {
    font-weight: 600;
  }
}

.selectedRow {
  background-color: "[theme:themeLighter, default:#c7e0f4]";
  background-color: var(--themeLighter);
}
